
/* --- TEXT SETTINGS --- */
body {
  background-color: #000; 
  color: white; 
  
}
#wrapper {
  background-color: #232222; 
  width: 100%; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: .6em; 
  border-bottom: 4em #232222; 
  border-radius: .4em; 
}

section{ 
  padding: 2em; 
}

header h1 { 
  text-transform: uppercase; 
  text-align: center; 
  padding-top: .4em; 
  padding-bottom: 0em; 
  margin-top: 0em; 
  margin-bottom: .3em; 
  color: white; 
  letter-spacing: -.05em; 
}


p{
font-size: 20px
}

span{
  color:green;
}

/* --- IMAGE SETTINGS --- */
img.float-left {
  float:left;
  margin-right: 1em;
}

img.float-right { 
  float: right; 
  margin-left: 1em; 
}
img.rounded { 
  border-radius: 100%; 
}
.border1 {
  border: solid 5px white; 
  background-color: #000;
}

.dropdown{
  color: green;
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}


/* --- NAVAGATION SETTINGS --- */
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
  background-image: none;
  background-color: white;
  color: green;
  border-color: blue;
}

ul.nav a:hover { color: green !important; }
.navbar-nav > li > .dropdown-menu { background-color: #232222; 
color:red;
}

.dropdown-menu a{
    color: grey !important;

}

/* --- FOOTER SETTINGS --- */
footer {
  background-color: #232222;

}

}
footer a { 
  color: white;
}










